<div class="topic_container">
  <% @topics.each do |topic| %>
    <% if topic.type == 'card' %>
      <%= render partial: "layouts/topic_card", locals: { topic: topic } %>
    <% elsif topic.type == 'trending' %>
      <%= render partial: "layouts/topic_trending", locals: { trending_topics: topic } %>
    <% end %>
  <% end %>
</div>
