.hero {
  height: 64px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;

  &__logo {
    background-image: image-url('logo.png');
    height: 30px;
    width: 110px;
    background-size: cover;
  }

  &--big {
    height: 356px;

    .hero__image {
      background-position: bottom;
      background-repeat: no-repeat;
      background-image: image-url('hero_image.png');
    }

    .hero__text,
    .here__icon--more {
      display: block;
    }

    .hero__top-bar {
      margin-top: 40px;
    }
  }

  &__image,
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__image {
    padding: 0 20px;
  }

  &__background {
    background-color: #0063CE;
  }

  &__top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  &__logo {
    color: white;
  }

  &__icon-part {
    fill: none;
    stroke: #FFF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-miterlimit: 10;
  }

  &__icon--user {
    height: 31px;
    width: 31px;
  }

  &__icon--more {
    display: none;
    height: 50px;
    width: 100%;
    stroke-width: 1px;
    stroke-miterlimit: initial;
  }

  &__icon-part--notification {
    fill: #F457A8;
    stroke-width: 0;
  }

  &__icon-part--white-notification {
    fill: #FFF;
  }

  &__text {
    padding: 92px 0 0;
    color: #FFFFFF;
    font-family: "Playfair Display";
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    display: none;
  }
}
