<button class="follow_button<%= " follow_button--active" if is_following %>" data-topic-id="<%= topic_id %>">
  <% if is_following %>
    avfölj
  <% else %>
    följ
  <% end %>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62.3 61.8" class="follow_button-icon">
    <circle cx="31.3" cy="30.9" r="29" class="follow_button-icon__part" transform="rotate(-45 31.2 31)"/>
    <path d="M17.3 30.9h28" class="follow_button-icon__part"/>
    <% unless is_following %>
      <path d="M31.3 16.9v28" class="follow_button-icon__part"/>
    <% end %>
  </svg>
</button>
